{sub_dirs, [
            "apps/seinfeld_method",
            "rel"
           ]}.
{erl_opts,        [fail_on_warning, debug_info]}.
{deps_dir, "deps"}.
%{plugins,         [rebar_covertool]}.
%{covertool_eunit, ".eunit/eunit.coverage.xml"}.
%{cover_enabled,   true}.
%{incl_app,        sc, details}.
%{export,          "all.coverdata"}.
%{clean_files,     ["*.eunit", "ebin/*.beam"]}.
%{eunit_opts,      [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps,            [
%%    {scutil, ".*", {git, "git://github.com/StoneCypher/scutil.github.com.git", "master"}},
%%    {proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}}
    ]}.


